<h2>Ajouter coach</h2>

<form [formGroup]="coachForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nom">Nom</label>
    <input id="nom" formControlName="nom" type="text" />
  </div>

  <div>
    <label for="prenom">Prénom</label>
    <input id="prenom" formControlName="prenom" type="text" />
  </div>

 
  <div>
    <label for="telephone">Téléphone</label>
    <input id="telephone" formControlName="telephone" type="text" />
  </div>

  <div>
    <label for="specialite">Spécialité</label>
    <input id="specialite" formControlName="specialite" type="text" />
  </div>

  <div>
    <label for="sexe">Sexe</label>
    <select id="sexe" formControlName="sexe">
      <option value="">-- Choisir --</option>
      <option value="Homme">Homme</option>
      <option value="Femme">Femme</option>
    </select>
  </div>

  <button type="submit" [disabled]="coachForm.invalid">Enregistrer</button>
</form>
