<div class="hero">
    <div class="overlay">
      <header class="navbar">
        <div class="logo">POWER GYM NEFTA</div>
        <nav class="nav-links">
          <a routerLink="/home">Home</a>
          <a routerLink="/about">About</a>
          <a routerLink="/activities">Activities</a>
          <a routerLink="/coaches">Coaches</a>
          <a routerLink="/subscriptions">Subscriptions</a>
          <a routerLink="/planning">Planning</a>
          <a routerLink="/inscription">Inscription</a>
          <a routerLink="/bmi">BMI</a>
          <a routerLink="/blogs">Blogs</a>
          <a routerLink="/contact">Contact</a>
        </nav>
        <div class="contact-info">
          <span>+216 25442896</span>
        </div>
      </header>
  
      <div class="hero-text">
        <h1>POWER GYM NEFTA IS FOR</h1>
        <h2>EVERYONE</h2>
        <p>★ SHAPE YOUR BODY ★</p>
      </div>
    </div>
  </div>
  